<h2><%= @place.name %></h2>

<h3>Entries:</h3>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <strong><%= entry.title %></strong> - <%= entry.occurred_on %>
      <p><%= entry.description %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Places', places_path %>
<%= link_to 'Add New Entry', new_entry_path %>